@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit
}

.root {
  font-family: Inter, sans-serif;
}

.container {
  display: flex;
}

.menuContainer {
  width: 300px;
  padding: 5px 20px;
}

.contentContainer {
  width: 100%;
  padding: 5px 20px;
}