@import "../../../styles/variables";
@import "../../../styles/responsive";
.selected-bar {
  max-height: 25rem;
  display: flex;
  align-items: center;
  position: fixed;
  bottom:0;
  right: 0px;
  left: 0px;
  width: 100%;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  transition: all 0.3s ;

  .count {

    margin-left: 15rem;
    margin-right: 1rem;

    @include lg {
      margin-left: 2rem;
    }

    @include sm {
      margin-left: 0.5rem;
    }

    .count-title {
      opacity: 80%;
    }

    .count-number {
      font-weight: 800;
    }
  }

  .sum {

    margin: 0 4rem;

    .sum-title {
      opacity: 80%;
    }

    .sum-number {
      font-weight: 800;
    }
  }
  .confirm-button {
    border-radius: 3px;
    padding: 0.3rem 1rem;
    @include md {
      margin-top: 1rem;
      padding: 0.6rem 1.5rem;
    }
  }

  .table-container {
    margin-left: 5rem;
    max-height: 90%;
    overflow: auto;

    @include lg {
      margin: 2rem 3rem;
    }
  }
};

.expanded {
  min-height: 20rem;
  @include md {
    flex-direction: column;
  }
}