@import "../../../styles/variables";
.selected-bar {
  max-height: 25rem;
  display: flex;
  align-items: center;
  position: fixed;
  bottom:0;
  right: 0px;
  left: 0px;
  background-color: $light-bg;
  color: $light-color;
  width: 100%;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  transition: all 0.3s ;

  .count {

    margin-left: 15rem;
    margin-right: 1rem;

    .count-title {
      opacity: 80%;
    }

    .count-number {
      font-weight: 800;
    }
  }

  .sum {

    margin: 0 4rem;

    .sum-title {
      opacity: 80%;
    }

    .sum-number {
      font-weight: 800;
    }
  }
  .approve-button {
    background-color: $soft-bg;
    border-radius: 3px;
    padding: 0.3rem;
  }

  .table-container {
    color: $light-color;
    margin-left: 5rem;
    max-height: 90%;
    overflow: auto;
  }
};