@import "../../../styles/variables.scss";
@import "../../../styles/responsive.scss";

.table {

  .thead {
    height: 2rem;
    .thead-row {
      .sortable {
        &:hover {
          cursor: pointer;
          border-top: 1px solid #ddd;
        }
      }

      .md-hide {

        @include md {
          display: none;
        }
      }

    }
  }
  .tbody-row {

    .md-hide {

      @include md {
        display: none;
      }
    }

    &:hover {
      background-color: $soft-hover-color;
      color: $main-color;
    }
  }

}

table, th, td {
  border-bottom: 1px solid $soft-color;
  border-top: 1px solid $main-bg;
  border-collapse: collapse;
  padding: 0.5rem 1rem;
  text-align: left;

  @include lg {
    padding: 0.2rem 0.5rem
  }

  @include md {
    padding: 0.1rem 0.3rem;
    font-size: 0.9rem;
  }
}

th, td {
  max-width: 200px;
  white-space: nowrap;
  text-overflow: clip;
  overflow: scroll;

  @include md {
    max-width: 300px;
    min-width: 2.5rem;
    white-space: nowrap;
    text-overflow: clip;
    overflow: scroll;
  }
}

th {
  height: 2rem;
  p {
    display: inline;
  }
}

th > span {
  color: $soft-color;
  vertical-align: middle;
}

