@import "../../../styles/variables.scss";

.table {

  .thead {
    height: 2rem;
    .thead-row {
      .sortable {
        &:hover {
          cursor: pointer;
          border-top: 1px solid $soft-color;
        }
      }
    }
  }
}

table, th, td {
  border-bottom: 1px solid $soft-color;
  border-top: 1px solid $main-bg;
  border-collapse: collapse;
  padding: 0.5rem 1rem;
  text-align: left;
}

th, td {
  max-width: 200px;
  white-space: nowrap;
  text-overflow: clip;
  overflow: scroll;
}

th {
  height: 2rem;
  p {
    display: inline;
  }
}

th > span {
  color: $soft-color;
  vertical-align: middle;
}


