@import "../../styles/responsive.scss";

.costCenters {
  .page-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;

    @include md {
      grid-template-columns: 1fr;
      gap: 1rem;
    }
  }
}