@import "../../../../../../styles/variables";

.single-po-page {
  h1 {
    margin-bottom: 3rem;
  }
  .po-row {
    display: flex;
    border-bottom: 1px solid $soft-color;
    align-items: center;
    min-height: 4rem;
    max-width: 500px;
    padding: 1rem;

    .po-row-key {
      flex: 2;
    }

    .po-row-value {
      flex: 5;
    }
  }
}
